<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/admin_base::layout(~{::section})}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


<section>
    <div class="adm-container">
        <form action="/admin/save-admin" enctype="multipart/form-data" method="post">
            <h2 class="adm-form-title">Agregar Administrador</h2>

            <div class="row mb-3">
                <div class="col-md-6 mb-2">
                    <label class="adm-form-label">Nombre completo</label>
                    <input required class="adm-form-control" name="name" type="text">
                </div>
                <div class="col-md-6 mb-2">
                    <label class="adm-form-label">Número de teléfono</label>
                    <input required class="adm-form-control" name="mobileNumber" type="number">
                </div>
            </div>

            <div class="mb-3">
                <label class="adm-form-label">Correo electrónico</label>
                <input required class="adm-form-control" name="email" type="email">
            </div>

            <div class="row mb-3">
                <div class="col-md-6 mb-2">
                    <label class="adm-form-label">Dirección</label>
                    <input required class="adm-form-control" name="address" type="text">
                </div>
                <div class="col-md-6 mb-2">
                    <label class="adm-form-label">Ciudad</label>
                    <input required class="adm-form-control" name="city" type="text">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6 mb-2">
                    <label class="adm-form-label">Distrito</label>
                    <input required class="adm-form-control" name="state" type="text">
                </div>
                <div class="col-md-6 mb-2">
                    <label class="adm-form-label">Código postal</label>
                    <input required class="adm-form-control" name="pincode" type="number">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6 mb-2">
                    <label class="adm-form-label">Contraseña</label>
                    <input required class="adm-form-control" name="password" type="password">
                </div>
                <div class="col-md-6 mb-2">
                    <label class="adm-form-label">Confirmar contraseña</label>
                    <input required class="adm-form-control" name="cpassword" type="password">
                </div>
            </div>

            <div class="mb-3">
                <label class="adm-form-label">Imagen de perfil</label>
                <input class="adm-form-control" name="img" type="file">
            </div>

            <button type="submit" class="adm-btn-custom mt-3">
                <i class="fa-solid fa-floppy-disk"></i> Registrar
            </button>
        </form>
    </div>

    <div class="text-center mt-3">
        <a href="/admin/" class="adm-btn-secondary-custom">
            <i class="fa-solid fa-arrow-left"></i> Volver al Panel
        </a>
    </div>
</section>
</html>
