<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/admin_base::layout(~{::section})}">

<th:block th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/adm-index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</th:block>

<section class="admindex-body">
    <div class="admindex-container">
        <div class="admindex-fade-in">
            <h1 class="admindex-title">Panel de Administración</h1>
        </div>

        <div class="admindex-grid">
            <a href="/admin/loadAddProduct" class="admindex-card-link admindex-fade-in">
                <div class="admindex-card">
                    <i class="fa-solid fa-square-plus"></i>
                    <h6>Agregar Producto</h6>
                </div>
            </a>
            <a href="/admin/category" class="admindex-card-link admindex-fade-in">
                <div class="admindex-card">
                    <i class="fa-solid fa-list"></i>
                    <h6>Agregar Categoría</h6>
                </div>
            </a>
            <a href="/admin/products" class="admindex-card-link admindex-fade-in">
                <div class="admindex-card">
                    <i class="fa-solid fa-table-list"></i>
                    <h6>Ver Productos</h6>
                </div>
            </a>
            <a href="/admin/orders" class="admindex-card-link admindex-fade-in">
                <div class="admindex-card">
                    <i class="fa-solid fa-box-open"></i>
                    <h6>Pedidos</h6>
                </div>
            </a>
            <a href="/admin/users?type=1" class="admindex-card-link admindex-fade-in">
                <div class="admindex-card">
                    <i class="fa-solid fa-circle-user"></i>
                    <h6>Usuarios</h6>
                </div>
            </a>
            <a href="/admin/add-admin" class="admindex-card-link admindex-fade-in">
                <div class="admindex-card">
                    <i class="fa-solid fa-user-plus"></i>
                    <h6>Agregar Admin</h6>
                </div>
            </a>
            <a href="/admin/users?type=2" class="admindex-card-link admindex-fade-in">
                <div class="admindex-card">
                    <i class="fa-solid fa-user-shield"></i>
                    <h6>Ver Admins</h6>
                </div>
            </a>
        </div>
    </div>
</section>
</html>
