<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>

		<div class="container mt-5 p-5">
			<form action="/user/save-order" method="post" id="orders" novalidate>
				<div class="row">

					<div class="col-md-6">


						<div class="mb-3 row">
							<p class="text-center fs-4">Dirección de facturación</p>
							<hr>
							<div class="col p-1">
								<label>Nombres</label> <input type="text" name="firstName" required
									class="form-control mt-1">
							</div>
							<div class="col p-1">
								<label>Apellidos</label> <input type="text" name="lastName" required
									class="form-control mt-1">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col p-1">
								<label>Correo</label> <input type="email" name="email" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>Celular</label> <input type="text" name="mobileNo" required
									class="form-control col ms-2">
							</div>
						</div>

						<div class="mb-3 row">
							<div class="col p-1">
								<label>Dirección</label> <input type="text" name="address" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>Ciudad</label> <input type="text" name="city" required
									class="form-control col ms-2">
							</div>
						</div>
						<div class="mb-3 row">
							<div class="col p-1">
								<label>Distrito</label> <input type="text" name="state" required
									class="form-control col">
							</div>
							<div class="col p-1">
								<label>Código postal</label> <input type="number" name="pincode" required
									class="form-control col ms-2">
							</div>
						</div>
						<!-- </form> -->

					</div>
					<div class="col-md-6">
						<p class="text-center fs-4">Tipo de pago</p>
						<hr>
						<div class="card">
							<div class="card-body">
								<table class="table table-borderless">
									<tbody>
										<tr>
											<td>Precio Total</td>
											<td>:</td>
											<td><th:block th:utext="${@commnServiceImpl.rupeeSign()}"></th:block> [[${orderPrice}]]</td>
										</tr>
										<tr>
											<td>Precio de Delivery</td>
											<td>:</td>
											<td><th:block th:utext="${@commnServiceImpl.rupeeSign()}"></th:block> 250</td>
										</tr>

										<tr>
											<td>igv</td>
											<td>:</td>
											<td><th:block th:utext="${@commnServiceImpl.rupeeSign()}"></th:block> 100</td>
										</tr>

										<tr class="border-top">
											<td>Precio total</td>
											<td>:</td>
											<td><th:block th:utext="${@commnServiceImpl.rupeeSign()}"></th:block> [[${totalOrderPrice}]]</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="card shadow p-3 mb-5 mt-2 bg-body-tertiary rounded">

							<div class="card-body">
								<!-- <form action="/login" method="post"> -->
								<div class="mb-3">
									<label class="form-label">Selecciona tipo de pago</label> <select required
										name="paymentType" class="form-control">
										<option value="">--seleccionar--</option>
										<option value="COD">Pago contra entrega</option>
										<option value="ONLINE">Pago Online</option>
									</select>

								</div>

								<button class="btn bg-primary text-white col-md-12">Realizar pedido</button>

							</div>
						</div>
					</div>

				</div>
			</form>
		</div>

	</section>
</body>
</html>