@charset "ISO-8859-1";

#contenedor-logo{
	margin-left: 30px;
	margin-right: 250px;
}
#LOGO-DREA{
	width: 325px;
}

#Header{
	background-color: #4caf50;
}

.card-sh {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.cat-div {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.error {
	color: red;
}